<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>freeglut_i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>freeglut_x86_64.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>sixense_simple3d_i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>sixense_simple3d_x86_64.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21839A751484002000F978BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21839A9D1484005200F978BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21839AA51484007F00F978BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21839AC4148403C400F978BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2185353C147DD0AB00C24A68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2185354A147DD0D500C24A68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
