[submodule "aruco"]
	path = aruco
	url = https://github.com/opentrack/aruco.git
[submodule "flandmark"]
	path = flandmark
	url = https://github.com/uricamic/flandmark.git
	ignore = dirty
[submodule "headtracker"]
	path = headtracker
	url = https://github.com/sthalik/headtracker.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/Itseez/opencv.git
	ignore = dirty
[submodule "LibOVR-025"]
	path = LibOVR-025
	url = https://github.com/opentrack/LibOVR
	branch = branch-025
[submodule "LibOVR-080"]
	path = LibOVR-080
	url = https://github.com/opentrack/LibOVR
[submodule "LibOVR-042"]
	path = LibOVR-042
	url = https://github.com/opentrack/LibOVR
[submodule "opentrack.wiki"]
	path = opentrack.wiki
	url = git@github.com:opentrack/opentrack.wiki.git
