[submodule "aruco"]
	path = aruco
	url = https://github.com/opentrack/aruco.git
[submodule "LibOVR-140"]
	path = LibOVR-140
	url = https://github.com/opentrack/LibOVR.git
[submodule "openvr"]
	path = steamvr
	url = https://github.com/opentrack/openvr.git
	branch = master
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "libusb"]
	path = libusb
	url = https://github.com/libusb/libusb.git
[submodule "onnxruntime"]
	path = onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
[submodule "trackhat-c-library-driver"]
	path = trackhat-c-library-driver
	url = https://github.com/opentrack/trackhat-c-library-driver.git
	branch = fixes3
[submodule "oscpack"]
	path = oscpack
	url = https://github.com/CINPLA/oscpack
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
	branch = 4.x
